body{
    margin: 0;
    height: 100vh;
    background-color: blue;
    font-family:cursive ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    position: relative;
}
.container .mouse-event{
    width: 200px;
    height: 100px;
    margin: 10px;
    color: lightgray;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 30px;
}
.container .mouse-event h4{
    font-size: 14px;
}
@media (max-width:500px) {
    .container{
        flex-direction: column;
    }
    
}
